@media screen and (max-width: 768px){
    body{
        /*width: 750px;*/
        font-size: 10px;
    }
    .wrapper__logo_image{
        display: none;
    }
    .wrapper__logo__text{
        margin-top: 2%;
        margin-left: 26%;
        position: absolute;
        text-align: center;
        font-size: 38px;
        letter-spacing: 4px;

    }
    .wrapper{
        max-width: 600px;
        margin: 10% auto 10%;
        background-color: #ebebeb;
    }
    .header{
        width: 600px;
        height: 70px;
        text-align: center;
        padding-top: 30px;
        background-color: #ebebeb;
    }
    .header__menu{
        height: 35px;
        line-height: 35px;
        padding-top: 53px;
        letter-spacing: 1px;
    }
    .header__menu__item{
        display: inline-block;
        list-style: none;
        margin-right: 40px;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
    .header__menu__link{
        color: black;
        text-decoration: none;
        text-align: center;
    }
    .header__menu__link:hover{
        color: red;
    }
    .content{
        width: 600px;
        text-align: center;
        background-color: #ebebeb;
    }
    .content-banner{
        width: 570px;
        padding-top: 8%;
        padding-left: 3%;
    }
    .content-banner__image{
        width: 570px;
        box-shadow: -5px 5px #d3d3d3;
    }
    .content-row{
        padding-top: 20px;
        margin-left: -60px;
        text-align: center;
        text-indent: 40px;
        line-height: 0.7;
    }
    .content-row__description{
        color: dimgray;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 0.3;
    }
    .content-blocks p{
        color: dimgray;
        letter-spacing: 1px;
        font-size: 10px;
    }
}
