.container-comment__form{
  font-family: 'Droid Sans','Faustina', sans-serif;
  font-size: 18px;
}
.container-comment__form__button{
  background: #80667c;
  text-align: center;
  color: white;
  padding: 0.5em;
  border-radius: 2px;
  &:hover {
    background: #897096;
  }
}
.container-comment__form__input-comment{
  border-color: darkgrey;
}