.container__nav{
  position: fixed;
  transition: all 0.3s ease;
}
.container__nav.scroll{
  background-color: beige;
  transition: all 0.3s ease;
}
.container__nav--logo{
  color: dimgray;
}
.container__nav--link{
  color: darkgoldenrod;
}
.container__nav--link:hover{
  color: gold;
}