form{
  font-family: 'Droid Sans','Faustina', sans-serif;
  font-size: 18px;
}
button {
  background: #80667c;
  text-align: center;
  color: white;
  padding: 0.5em;
  border-radius: 2px;
  &:hover {
    background: #897096;
  }
}
input{
  border-color: darkgrey;
}