.container-registration__form{

}
.container-registration__form__button{
  margin-top: 1%;
  padding: 0.5em;
  background: #9ce469;
  text-align: center;
  color: black;
  border-radius: 2px;
  &:hover {
    background: #c2e497;
  }
}
.container-registration__form__input{
  border-color: darkgrey;
  border-radius: 3px;
  text-align: center;
  padding-top: 1%;

}
.container-registration{
  margin: 0 10% auto;
  text-align: center;
  background-color: antiquewhite;
}