.content-background{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
}
.content-page{
    margin: 0 auto;
    background-color: lavenderblush;
    width: 90%;
}
.content-page__image-get{
    width: 600px;
    height: 600px;
    transition: 200ms;
}
img{
    width: 600px;
    height: 600px;
    border: 1px solid;
}