body{
    background-image: url(../images/info.gif);
    width: 1225px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.wrapper{
    position: absolute;
    width: 1225px;
    height: 100%;
    margin:0 auto;
    background-color: #ebebeb;

}
.header{
    background-color: #ebebeb;
    width: 1225px;
    height: 120px;
    text-align: center;
    padding-top: 30px;
}
.content{
    width: 1225px;
    background-color: #ebebeb;
    height: 300px;
    text-align: center;
}
.footer{
    width: 1225px;
    height: 30px;
    background-color: burlywood;
    text-align: center;
}
.navigation-menu{
    height: 35px;
    line-height: 35px;
    padding-top: 53px;
}
.navigation-menu > ul > li{
    display: inline-block;
    list-style: none;
    margin-right: 35px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.navigation-menu > ul > li a{
    color: black;
    text-decoration: none;
    text-align: center;
}
.navigation-menu > ul > li a:hover{
    color: red;
}
.content-banner{
    width: 1225px;
    padding-top: 28px;
}
.content-banner img{
    width: 1155px;
    border-radius: 10px;
    box-shadow: -5px 5px #d3d3d3;
}
.content-row1{
    padding-top: 20px;
    text-align: center;
    text-indent: 40px;
    line-height: 0.7;
}
.content-row1, .content-row2 h1{
    word-spacing: 3px;
    letter-spacing: 1px;
}
.content-row1 p{
    color: dimgray;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 0.3;
}
.content-row2 p{
    color: dimgray;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 0.3;
}
button{
    background-color: #ed3237;
    color: white;
    border-radius: 12px;
    width: 125px;
    height: 40px;
    box-shadow: -2px 2px #cecece;
}
.content-line{
    padding-top: 55px;
}
.content-row2{
    padding-top: 50px;
}