*{
    margin: 0;
    padding: 0;
}

html{ height: 100%;
      width: 100%;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/info.gif);
}
.wrapper{
    position: absolute;
    margin:0 auto;
    background: #ebebeb;
    width: 950px;
    height: auto;
}
.container {
    position: absolute;
}
.header-logo{
    position: absolute;
    vertical-align: middle;
    padding-left: 50px;
    padding-top: 15px;

}
.header-logo-name{
    text-align: center;
}
.header{
    position: absolute;

}
.footer {
    position: relative;

}
.footer-copyright, .footer-design > h3{
    color: white;
    font-size: 16px;
}
h1{
    font-family: 'Bree Serif', serif;
    font-size: 24px;
    color: black;
}
h3{
     color:  white;
     text-align: center;
     font-size: 15px;
 }

.logo{
    position: absolute;
    margin-left: 415px;
    margin-top: 23px;
}

nav{
    line-height: 50px;
}

nav > ul > li{
    display: inline-block;
    list-style: none;
    font-size: 16px;
}
nav >  ul > li a{
    color: black;
    text-decoration: none;
}

nav > ul > li a:hover{
    color: red;
}
.navigation-menu{
    position: absolute;
}
